container {
    width: 21cm; /* A4 kağıdının genişliği */
    height: 29.7cm; /* A4 kağıdının yüksekliği */
    margin: auto; /* Sayfa ortalamak için */
    padding: 1cm; /* İçerik ile kenar arasındaki boşluk */
    box-sizing: border-box; /* Kenarlık ve dolgu dahil genişlik ve yükseklik hesaplaması */
  }
  
  @media screen and (max-width: 768px) {
    .container {
      width: 90%; /* Küçük ekranlarda tam genişlik kullan */
      height: auto; /* Yükseklik otomatik olarak ayarlanacak */
    }
  }
  
  .card-body {
    border: 1px solid #ccc; /* İçeriği sarmalayan kenarlık */
    padding: 20px; /* İçerik ile kenar arasındaki boşluk */
    border-radius: 5px; /* Köşeleri yuvarla */
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: transparent;
  }
  
  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  th {
    text-align: inherit;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table-sm th,
  .table-sm td {
    padding: 0.3rem;
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .logo {
    max-width: 100%;
    height: auto;
    max-height: 100px; /* İstediğiniz yükseklik değeri */
  }