.table-container {
	margin-top: 20px;
}

.table-container table {
	width: 100%;
	border-collapse: collapse;
}

.table-container th,
.table-container td {
	padding: 6px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}



.button-group {
	margin-top: 20px;
}

.button-group button {
	margin-right: 20px;
}

.category-economy {
	color: rgb(137, 60, 208); /* ECONOMY kategorisi için renk */
}

.category-comfort {
	color: rgb(213, 78, 215); /* COMFORT kategorisi için renk */
}

.category-luxury {
	color: rgb(37, 109, 191); /* LUXURY kategorisi için renk */
}


.even-row {
	background-color: #f2f2f2; /* Gri */
  }
  
  .odd-row {
	background-color: #ffffff; /* Beyaz */
  }
  