*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}

.body {
    margin: 0;
    display: flex;
    justify-content:baseline;
    align-items: center;
    
}
.contact-info{
	padding-top: 120px;
}

.header-5{
    background: #2694af;
    color: #fff;
    font-weight: 900;
    font-size: larger;
}


.right-cell{
  
    border-right: 2px solid navy;
}
.address{
    font-weight: 600;
    color: #2694af;
}
.big-phone{
    font-size: 75px;
    font-weight: 900;
    text-align: center;
    color: white;
}
.para{
    font-weight: 600;
}