@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#MainNavbar{
  background-color: rgb(123, 136, 161);
}

.Navbar {
  height:3rem;
}

#firstDiv{
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap: 0 2rem;
  align-items:center;
  flex : 1 1 0%;
}

.Nav a {
	font-size: 17px;
	font-weight: bold;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items:center;
  position:relative;
  height:4rem;
}

.Nav a::before{
  content: '';
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  left:0;
  height:40%;
  border-radius:0.5rem;
  border-top: 1px solid black;
  background-color: #222222;
  width:0px;
  transition: all .5s;
  z-index: -1;
}

.Nav a:hover::before{
  width:100%;
}

.Nav a:hover {
	color: white;
}





@media (max-width: 767px) {
  .navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 30 30" width="10px" height="10px" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(11, 148, 197, 4)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
  }
  #firstDiv{
    flex-direction:column;
  }
}

.transparent-button {
  background-color: transparent !important;
  color: rgb(254, 255, 255) !important;
}


.profile {
  font-size: 17px;
	font-weight: bold;
  /* color: rgb(13, 13, 14); */
  font-family: 'Roboto', sans-serif;
}
.profile:hover
{
  color: white;
}