@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.Navbar {
  top: 0%;
	width: 100%;
	z-index: 999999;
  background-color: rgb(123, 136, 161);
}

.Nav {
	flex-grow: 1;
}

.Nav a {
	font-size: 17px;
	font-weight: bold;
	color: rgb(223, 232, 238);
  font-family: 'Roboto', sans-serif;
}

.Nav a:hover {
	color: rgb(4, 4, 5);
}





@media (max-width: 768px) {
  .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(11, 148, 197, 4)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
  }
}

.transparent-button {
  background-color: transparent !important;
  color: rgb(254, 255, 255) !important;
}


.profile {
  font-size: 17px;
	font-weight: bold;
  color: rgb(250, 252, 253);
    font-family: 'Roboto', sans-serif;
  padding: 0 20px;
}

.profile:hover {
  color: rgb(16, 20, 21);

}
