.card {
  border: 1px solid #ccc;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(58, 78, 99, 0.793);
}

.card img {
  height: 100%;
  padding: 20%;
}

.icon-section {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2px;
  border-radius: 5px;
  padding: 5px;
  max-width: calc(2 * var(--icon-size) + var(--gap-size)); /* 2 icon + 1 gap */
}

.icon {
  flex: 1 0 auto;
  width: var(--icon-size);
  height: var(--icon-size);
}

.select-style {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  color: #333333c1;
}

.car-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 4%;
}

.filter-menu {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: top 0.3s ease;
}

.filter-menu.active {
  top: 10%;
}

.filter-item {
  margin-bottom: 10px;
  width: calc(33.33% - 10px);
  float: left;
  margin-right: 10px;
}

.filter-item:last-child {
  margin-right: 0;
}

.filter-item label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12px;
}

.filter-item select,
.filter-item input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}

.filter-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 750px) {
  .filter-menu {
    display: block;
  }

  .filter-item {
    width: calc(50% - 5px);
  }
}
