

.filter-menu-button {
  margin-top: 35px;
  position: absolute;
  left: 0;
  background-color: #8ca4be;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 100;
  height: 4%;
}

.filter-menu-button:hover {
  background-color: #6c849d;
}

.filter-menu {
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  max-width: 30%; 
  position: fixed; 
  margin-top: 40px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  display: none;
  flex-direction: column;
  position: absolute;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}


.filter-item {
  margin-bottom: 10px;
}

.filter-item label {
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-item select,
.filter-item input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}



.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}





.filter-menu.active {
  opacity: 1;
  max-height: 800px; /* Adjust as needed */
  display: flex;
}


.car-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 4%;

}


.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(58, 78, 99, 0.793);
}

.card img {
  height: 100%;
  padding: 10%;
}


.icon-section {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2px;
  border-radius: 5px;
  padding: 5px;
  max-width: calc(2 * var(--icon-size) + var(--gap-size)); /* 2 icon + 1 gap */
}

.icon {
  flex: 1 0 auto;
  width: var(--icon-size);
  height: var(--icon-size);
}
#filter {
  height: 30px;
  width: 70%;
}

.mnu {
  background-color: #8ca4be; /* Arka plan rengi */
  color: white; /* Yazı rengi */
  border-radius: 5px; /* Kenar yuvarlama */
  padding: 8px 20px; /* Dolgular */
  cursor: pointer; /* İmleç tipi */
  transition: background-color 0.3s ease; /* Geçiş efekti */

}

.mnu:hover {
  background-color: #6c849d; /* Üzerine gelindiğinde arka plan rengi */
}

.select-style {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  color: #333333c1;
}