  .formik-section {
	background-size: cover;
	background-position: left top;
	padding: 20px;
	border-radius: 10px;
	animation: moveBackground 10s linear infinite; /* Animation repeats indefinitely */
  }
  
  .formik-section .form-label {
	color: #e6efef;
  }
  
  .formik-section .form-control {
	color: #6b46c1;
	border-color: #6b46c1;
  }

  .form-button{
    background: linear-gradient(to left, rgb(28, 176, 154) 0%, rgba(222, 67, 28, 0) 100%);
  }